{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustErkinov's Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1> <a href="{% url 'home'  %}"> JustErkinovBlog </a> </h1>
    </header>
    {% if user.is_authenticated %}
        <p>Xush kelibsiz!, {{ user.username }}</p>
        <p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
        <button type="submit">Saytdan chiqish</button>
</form>
        </p>
    {% else %}
        <p>
            <a href="{% url 'login' %}">Saytga kirish</a>
            <a href="{% url 'signup' %}">Ruyxatdan o'tish</a>

        </p>
    {% endif %}

<div>
    {% block content %}
    
    {% endblock %}
</div>

    <footer>
        <h2> <a href="{% url 'post_new' %}">Yango post qo'shish</a> </h2>
    </footer>

</body>
</html>